*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

#nav-inicio:hover{
    background-color: #919191;
    color: white;
    font-weight:lighter;
}

#nav-pokedex:hover{
    background-color: #e43613;
    color: white;
}

#nav-aplicaciones:hover{
    background-color: #ed6b30;
    color: white;
}

#nav-juegoCartas:hover{
    background-color: #e7bd30;
    color: white;
}

#nav-tv:hover{
    background-color: #4cad5b;
    color: white;
}

#nav-play:hover{
    background-color: #31a7d7;
    color: white;
}

#nav-noticias:hover{
    background-color: #2b55a3;
    color: white;
}

#nav-comprar-cartas:hover{
    background-color: #363536e7;
    color: white;
}

#btn-registrate{
    color: white;
    font-weight:lighter;
}

.contenedor-principal{
    display: grid;
    grid-template-columns: repeat(4fr);
}

.card-body h6{
    color: rgb(143, 145, 145);
}

.botones button{
    font-size: .8rem;
    font-weight: bold;
}

.nav-item:hover{
    cursor: pointer;
}

.card:hover{
    cursor: pointer;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

footer{
    display: grid;
    margin-top: .5rem;
    align-items: center;
    background-color: rgb(50, 48, 48);
    color: white;
}

footer .col{
    text-align: center;
    font-size: 12px;
    padding: 0;
}

#company{
    justify-content: center;
}

footer p{
    margin: .2rem;
}

.row{
    padding: 1rem;
}

#texto-centro a{
   text-decoration: none;
}

#email{
    color: rgba(13, 224, 239, 0.74);
}

.contenedor-redes-sociales{
    align-items: center;
}

.red-social{
    height: 25px;
    width: 25px;
    margin: .5rem;
}